
.flashes {
    color: #d55b44;
    text-align: center;
}

.flight-form-container {
    width: 200%;
    max-width: 200px;
}

.required-field::after {
    content: "*";
    color: red;
}


/*####################*/

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* ###### MAIN PAGE ############## */

.background-image-hi-container {
  background-image: url('../images/arthur-salarini-vvATfzXcreI-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-image-career-container {
  background-image: url('../images/ramon-bucard-qA3EyF9G2dE-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-image-untilhere-container {
  background-image: url('../images/jonathan-borba-h7l1ChTUOMo-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-image-flight-container {
  background-image: url('../images/jerry-zhang-OnXvKZldSJ0-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.letter-body {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Times New Roman", sans-serif;
    border-radius: 5px;
}

.it-part {
    color: #ff6600; /* Choose a different color for the "IT" part */
    font-weight: bold; /* Make the "IT" part bold */
}