{% from "bootstrap5/form.html" import render_form %}
{% extends 'base.html' %}

{% block page_title %}Cheap Flights{% endblock %}

{% block content %}

    <div class="background-image-flight-container p-5 mb-4 bg-body-tertiary rounded-3 text-center">
      <div class="container-fluid py-5">
        <h1>Cheap flights track!</h1>

        <div id="flight-form" class="container flight-form-container">
            {{ render_form(form, novalidate=True) }}
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</div>
</div>
{% endblock %}
