{% from "bootstrap5/form.html" import render_form %}
{% extends 'base.html' %}

{% block page_title %}SignUp{% endblock %}

{% block content %}

<div>
<h1 class="text-center">Login</h1>
    <div class="text-left">
        {{ render_form(form, novalidate=True) }}
    </div>
         {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
</div>
{% endblock %}