{% from "bootstrap5/form.html" import render_form %}

{% extends 'base.html' %}

{% block page_title %}Until Here{% endblock %}

{% block content %}

<div>
<h1 class="text-center main-title">My <span class="it-part">IT</span> Journey</h1>
    <div class="letter-body">
        <p>
        I began my IT career at about 16 with an internship as Technical Support in Brazil.
        Started college a college for game development, but after 1 year, unfortunately, I was not able to complete it.
        As we say "When one door closes, another one opens", I got an opportunity as network technician, and my professional IT career began.
        </p>
        <p>
        I moved to Canada by end of 2018, got invited to join amazon local IT team,
        I've since thrived in Amazon from Support Tech I to current role Support Engineer II,
        specializing in Windows/Linux servers, network deployments, and troubleshooting.
        Throughout my career, I've gain experience in scripting using Bash, VBA and Python.
        </p>
    </div>
</div>

{% endblock %}